# see https://git-scm.com/docs/git-config

[user]
	name = ahuglajbclajep
	email = ahuglajbclajep@gmail.com

[core]
	ignorecase = false
	quotePath = false
	autocrlf = input

[diff]
	renames = copies

[credential]
	# see https://git-scm.com/docs/git-credential-cache
	helper = cache

[push]
	default = current

[rebase]
	autostash = true

[alias]
	# util
	# see https://git-scm.com/docs/git-rev-parse
	root-dir = rev-parse --show-toplevel
	current-branch = rev-parse --abbrev-ref @
	current-remote-branch = rev-parse --abbrev-ref @{u}

	# aliases
	st = status -sb
	co = checkout
	cm = commit -am
	rh = reset --hard @

	# show all aliases
	aliases = !git config --name-only --get-regexp ^alias | cut -c 7-

	# show info about the latest commit
	# advanced usages: latest origin/master
	latest = !git --no-pager log -1 --pretty=format:'%C(yellow)%h %Cgreen%ci, %cr %C(magenta)%an%Creset%n%s%n'

	# my `git log --graph --decorate --oneline`
	# advanced usages: tree --all
	tree = log --graph --date=short --pretty=format:'%x09%C(yellow)%h%C(cyan)%d %C(magenta)%><(7,trunc)%an %Cgreen[%cd] %Creset%s'

	# set the execute permission
	chmodx = update-index --chmod=+x

	# amend a commit without changing its commit message
	# advanced usages: amend -a
	amend = commit --amend --no-edit

	# remove the latest commit without changing the working tree
	back = reset @^

	# create an orphan branch
	orphan = "!f() { git checkout --orphan $1 && git rm -r --cached $(git root-dir); }; f"
	gh-pages = !git orphan gh-pages

	# move the latest commit to a new branch
	movel = "!f() { local old=$(git current-branch); git branch -m $1 && git branch $old @^; }; f"

	# resets the index and the working tree to remote state
	pull-f = "!f() { git fetch -v && git reset --hard $(git current-remote-branch); }; f"

	# shallow clone
	shallow = clone --depth 1 --shallow-submodules --recurse-submodules

	# convert a shallow repository to a complete one
	unshallow = fetch --unshallow
